@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-x: hidden;
    background-color: black;
}

body{
    background-color: black;
}

/* ADICIONE ESTE BLOCO NO FINAL */
@layer utilities {
  .font-special-gothic {
    font-family: "Special Gothic Expanded One", sans-serif;
  }
}